.openerp .oe_login .oe_login_bottom {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 0 1px 1px #999999;
    background-color: #8116B4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8116B4), to(#361257));
    background-image: -webkit-linear-gradient(top, #8116B4, #361257);
    background-image: -moz-linear-gradient(top, #8116B4, #361257);
    background-image: -ms-linear-gradient(top, #8116B4, #361257);
    background-image: -o-linear-gradient(top, #8116B4, #361257);
    background-image: linear-gradient(to bottom, #8116B4, #361257);
}

.openerp .oe_login button {
    cursor: pointer;
    padding: 6px 16px;
    border: 1px solid #222222;
    color: white;
    margin: 0;
    background-color: #8116B4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8116B4), to(#361257));
    background-image: -webkit-linear-gradient(top, #8116B4, #361257);
    background-image: -moz-linear-gradient(top, #8116B4, #361257);
    background-image: -ms-linear-gradient(top, #8116B4, #361257);
    background-image: -o-linear-gradient(top, #8116B4, #361257);
    background-image: linear-gradient(to bottom, #8116B4, #361257);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}

.openerp button.oe_highlight {
    background-color: #8116B4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8116B4), to(#361257));
    background-image: -webkit-linear-gradient(top, #8116B4, #361257);
    background-image: -moz-linear-gradient(top, #8116B4, #361257);
    background-image: -ms-linear-gradient(top, #8116B4, #361257);
    background-image: -o-linear-gradient(top, #8116B4, #361257);
    background-image: linear-gradient(to bottom, #8116B4, #361257);
}

.openerp .oe_footer a span {
    color: #8116B4;
}

.openerp .oe_loading {
    background: #8116B4;
    border: 1px solid #361257;
}