.openerp .oe_kanban_view .oe_kanban_card.custom_attendance {
  min-height: 0;
  height: 60px;
  width: 190px;
  font-size: 0.9em;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_unconfirmed {
  background-color: #dddddd;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_attended,
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_attend {
  background-color: #ddffdd;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_attended .attendance_accept,
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_attend .attendance_accept {
  display: none;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_not_attend,
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_not_attended {
  background-color: #ffdddd;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_not_attend .attendance_cancel,
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance.activity_confirmation_not_attended .attendance_cancel {
  display: none;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance .oe_kanban_content {
  padding-left: 70px;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance .oe_kanban_content div {
  margin-right: 0;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance .oe_kanban_content .oe_kanban_project_avatars {
  position: absolute;
  left: 4px;
  top: 8px;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance .attendance_options {
  display: none;
}
.openerp .oe_kanban_view .oe_kanban_card.custom_attendance:hover .attendance_options {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
