.openerp .oe_kanban_view .oe_kanban_card.custom_attendance {

  min-height: 0;
  height: 60px;
  width: 190px;
  font-size: 0.9em;

  &.activity_confirmation_unconfirmed {
    background-color: #dddddd;
  }
  &.activity_confirmation_attended,
  &.activity_confirmation_attend {
    background-color: #ddffdd;
    .attendance_accept {
      display: none;
    }
  }
  &.activity_confirmation_not_attend,
  &.activity_confirmation_not_attended {
    background-color: #ffdddd;
    .attendance_cancel {
      display: none;
    }
  }

  .oe_kanban_content {

    padding-left: 70px;

    div {
      margin-right: 0;
    }

    .oe_kanban_project_avatars {
      position: absolute;
      left: 4px;
      top: 8px;
    }
  }

  .attendance_options
  {
    display: none;
  }
  &:hover {
    .attendance_options
    {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

